modules = ["python-3.8", "web"]

[nix]
channel = "stable-24_05"
packages = ["exiftool", "freefont_ttf", "ghostscript", "glibcLocales", "imagemagickBig", "mupdf", "netpbm", "poppler_utils"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42662888
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/jhora/horoscope/main.py"
